[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
openai = "*"
python-dotenv = "*"
jsonlines = "*"
bs4 = "*"
markdown = "*"
mammoth = "*"
pandoc = "*"

[dev-packages]

[requires]
python_version = "3.9"
