[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
openai = "*"
python-dotenv = "*"
jsonlines = "*"

[dev-packages]

[requires]
python_version = "3.9"
