[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonlines = "*"
openai = "*"
python-dotenv = "*"
markdown = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
